@import 'tailwindcss';

@theme {
  --font-display: 'Inter', sans-serif;

  --color-black1: #18181e;
  --color-black2: #09090b;
  --color-gray1: #e4e4e7;
  --color-gray2: #71717a;
  --color-gray3: #f3f4f6;
  --color-gray4: #f4f4f5;
  --color-white: #ffffff;
  --color-white1: #fafafa;
}
